<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--You need to change the connection string here, create a database in your sql server connect it to visual studio and then get the connection string, paste it here-->
    <add name="fashionDB" connectionString="Data Source=DESKTOP-CUITDFC;Initial Catalog=fashionDB;Integrated Security=True;" providerName="System.Data.sqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>